.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
}
.input-container h4 {
  color: #840606;
  font-size: 1.2rem;
  font-weight: 500;
}

.modern-input {
  /* Genel Stil */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.6rem;
  font-size: 1rem;
  color: #333;

  /* Odaklanma Stili */
  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }

  /* Geçersiz Stili */
  &.invalid {
    border-color: #ff0000;
  }

  /* Placeholder Stili */
  &::placeholder {
    color: #999;
    font-style: italic;
  }
}

.modern-select {
  /* General Styles */
  width: 200px;
  height: 2.6rem;
  padding: 10px 20px 10px 10px; /* Adjust padding for desired spacing around text */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; /* Remove default styles */
  cursor: pointer; /* Indicate interactivity */
  outline: none; /* Remove default outline on focus */

  /* Focus Style */
  &:focus {
    border-color: #007bff;
  }

  /* Selected Style */
  & option:checked {
    background-color: #007bff;
  }
}

.modern-select::after {
  /* Custom Arrow Icon */
  content: "\25BC"; /* Unicode down arrow character */
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
  transition: transform 0.2s ease-in-out;
}

.modern-select:hover::after {
  transform: translateY(-50%) rotate(180deg);
}

#modern-button {
  /* Genel Stil */
  width: 150px;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  /* Fare Üzerinde */
  &:hover {
    background-color: #0069d9;
  }

  /* Basılı */
  &:active {
    background-color: #0057b2;
    transform: translateY(2px);
  }

  /* Odaklanma */
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  }
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-left: 0.6rem;
}
