._sidebar {
  height: calc(100%);
  padding: 0.5rem;
  /* background: #0000001a; */
  background: rgba(255, 255, 255, 0.1);
  margin: auto;
  border-radius: 8px;
  transition: all 300ms ease;
  /* box-shadow: rgba(0, 0, 0, 0.537) 0px 0px 9px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
}
._dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

._logo {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #38988b;
  color: #4b4b4b;
  padding: 0.2rem;
  border-radius: 20%;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 4px;
}

._dashboard h2 {
  font-weight: 500;
  font-size: 1.1rem;
  color: #4b4b4b;
}

._sidebar ul li {
  padding: 0.7rem 0.3rem;
}
/* ul li:last-child {
  margin-top: 5rem;
} */

ul li a {
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  margin: auto;
}
ul li a h5 {
  font-size: 0.9rem;
  color: #242323;
}
ul li a svg {
  color: #840606;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 20%;
}

@media screen and (max-width: 992px) {
  section {
    width: 100%;
  }
  ._sidebar._dashboard h2 {
    display: none;
  }
  ul li a h5 {
    display: none;
  }
  ._dashboard {
    display: block;
    text-align: center;
  }
  ul li a {
    padding: 0.5rem 0;
    justify-content: center;
  }
  ul li a svg {
    height: 50px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.605) 0px 0px 10px 1px;
    padding: 0.6rem;
    border-radius: 20%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  section {
    width: 100%;
  }
  ul li {
    padding: 1rem 0rem;
  }
  ul li a svg {
    height: 30px;
    width: 30px;
    box-shadow: rgba(0, 0, 0, 0.605) 0px 0px 10px 1px;
    padding: 0.2rem;
    border-radius: 20%;
  }
}
